<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <link rel='stylesheet' href='stylesforform.css'/>
    <title>회원가입 💌</title>
</head>
<body>
    <header class='form-header'>
        <h1>회원가입🎈</h1>
    </header>
    <form class='form-row' action="/member/new" method="post">
        <div>
            <label for='id'>아이디</label>
            <input id='id' name='id' type='text' placeholder="아이디를 입력하세요."/>
        </div>
        <div>
            <label for='pwd'>비밀번호</label>
            <input id='pwd' name='pwd' type='password' placeholder="비밀번호를 입력하세요."/>
        </div>
        <div>
            <label for='nickname'>닉네임</label>
            <input id='nickname' name='nickname' type='text' placeholder="닉네임을 입력하세요."/>
        </div>
        <div>
            <label for='email'>이메일</label>
            <input id='email' name='email' type='email' placeholder="이메일을 입력하세요."/>
        </div>
        <div>
        <button>회원가입</button>
        </div>
    </form>
</body>
</html>
